.dropdown {
  position: relative;

  .dropdownToggle {
    display: inline-block;
    cursor: pointer;
    color: var(--color-primary);
    background-color: transparent;
    border: none;

    .caret {
      display: inline-block;
      margin-left: 4px;
      vertical-align: middle;
      border-top: 4px dashed;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
    }

    .dropdownLabel {
      font-size: var(--font-size-normal);
    }
  }

  .dropdownMenu {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 1000;
    background-color: var(--color-background);
    background-clip: padding-box;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }

  .alignLeft {
    left: 0;
  }

  .alignRight {
    right: 0;
  }

  .alignCenter {
    left: 50%;
    transform: translateX(-50%);
  }

  &.open > .dropdownMenu {
    display: block;
  }
}
